

@model Employee

 

<div class="modal-header" style="background-color:darkgray">
    <h4 class="modal-title"> Edit Employee Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="form-horizontal2" id="divEmpDetails">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <form id="frmEmp" action="@Url.Action("Edit","Employee",new { area = "Master"})" method="post" enctype="multipart/form-data">
                        <div class="row" style="padding-top: 10px;">
                            <div class="  col-xs-12" style="padding-right: 10px;">
                                <input type="hidden" id="hdnId" value="@Model.Id" name="Id" />
                                <label class="control-label">Employee Name <span style="color:red"> *</span></label>
                                <input type="text" id="txtName" name="EmployeeName" value="@Model.EmployeeName" class="form-control errorMessage1" data-errormessage=" Please enter Employee Name" />
                            </div>
                            <div class=" col-xs-12" style="padding-right: 10px;">
                                <label class=" control-label"> Email Id <span style="color:red"> * </span></label>
                                <input type="text" id="txtEmail" name="EmailId" value="@Model.EmailId" class="form-control errorMessage1" data-errormessage=" Please enter Email Address" />
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            <div class=" col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> Password <span style="color:red"> *</span></label>
                                <input type="text" id="txtPassword" name="Password" value="@Model.Password" class="form-control errorMessage1" data-errormessage=" Please enter Password" />
                            </div>
                            <div class=" col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> Mobile Number <span style="color:red"> *</span></label>
                                <input type="text" id="txtMobile" name="MobileNumber" value="@Model.MobileNumber" class="form-control errorMessage1" data-errormessage=" Please enter MobileNumber" />
                            </div>
                            <div class="col-md-4 col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> Role <span style="color:red"> *</span></label>
                                <select class="form-control errorMessage" name="EmployeeRole.RoleId" id="lstRole1" onchange="BindRoleName1(this);">
                                    <option value="0">Select</option>
                                    @if (DataCache.Roles != null && DataCache.Roles.Count > 0)
                                    {
                                        foreach (var item in DataCache.Roles)
                                        {
                                            if (Model.EmployeeRole != null)
                                            {
                                                if (@item.Id == Model.EmployeeRole.RoleId)
                                                {
                                                    <option value="@item.Id" selected>@item.RoleName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.RoleName</option>
                                                }
                                            }


                                        }
                                    }
                                </select>
                                <input type="hidden" id="hdnRoleName1" name="EmployeeRole.RoleName" value="@Model.EmployeeRole.RoleName" />
                            </div>

                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <input type="button" id="btnSubmit" value="Submit" class="btn btn-primary" />
    <input type="button" value="Close" class="btn btn-danger" data-dismiss="modal" />

</div>
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@

<script>
    $("#btnSubmit").click(function () {

        debugger;
        var isValueEmpty = false; var errorMessage = "";
        var employees = "";
        $(".errorMessage1").each(function () {

            if ($(this).val() == null || $(this).val() == "") {
                isValueEmpty = true;
                errorMessage = $(this).attr("data-errormessage");
                return false;
            }
        });

        if (isValueEmpty == true) {
            Alert(errorMessage);
            return false;
        }
        $("#frmEmp").submit();
    });


    function BindRoleName1() {
        var value = $("#lstRole1 option:selected").text();
        if ($("#lstRole1 option:selected").val() != "0") {
            $("#hdnRoleName1").val(value);
        }
        else {
            $("#hdnRoleName1").val(null);
        }

    }

</script>
