


@model SalesApplication.SalesEntry
    @{
       // string smsCharges = SMSPrice.SMSCharges;
}


<div class="modal-header" style="background-color:darkgray">
    <h4 class="modal-title">Edit Renewal Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-horizontal2" id="divSalesDetails">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form id="frmEditSalesRenewal" action="@Url.Action("SaveSalesRenewalDetails","SalesEntry",new { area = "SalesEntry"})" method="post" enctype="multipart/form-data">
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <input type="hidden" id="hdnId" value="@Model.Id" name="Id" />
                                <label class="control-label"> Name <span style="color:red"> *</span></label>
                                <input type="text" id="txtName1" name="Name" value="@Model.Name" class="form-control " autocomplete="off" readonly />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> Mobile <span style="color:red"> *</span></label>
                                <input type="text" id="txtMobile" name="MobileNumber" value="@Model.MobileNumber" class="form-control " autocomplete="off" readonly />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> Email</label>
                                <input type="text" id="txtEmail" name="EmailId" value="@Model.EmailId" class="form-control" readonly />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> PanNumber</label>
                                <input type="text" id="txtPanNumber" name="PanNumber" value="@Model.PanNumber" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> State <span style="color:red"> *</span></label>
                                <select class="form-control " name="StateId" id="lstState1" onchange="BindStateName1(this);" readonly>
                                    <option value="0">select</option>
                                    @if (DataCache.StateMasters != null && DataCache.StateMasters.Count > 0)
                                    {
                                        foreach (var item in DataCache.StateMasters)
                                        {

                                            if (@item.Id == Model.StateId)
                                            {
                                                <option value="@item.Id" selected>@item.StateName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.StateName</option>
                                            }
                                        }
                                    }
                                </select>
                                <input type="hidden" id="hdnState1" name="StateName" value="@Model.StateName" />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <div class="form-group">
                                    <label class="control-label"> City <span style="color:red"> *</span></label>
                                    <select class="form-control" id="lstCity1" name="CityId" onchange="BindCityName1(this);" readonly>
                                        <option value="0">select</option>
                                        @{ var allCities = from s in DataCache.CityMasters where s.StateId == Model.StateId select s;
                                            List<CityMaster> cities = allCities != null ? allCities.ToList() : null;
                                        }
                                        @if (cities != null && cities.Count > 0)
                                        {
                                            foreach (var item in cities)
                                            {

                                                if (item.Id == Model.CityId)
                                                {
                                                    <option value="@item.Id" selected>@item.CityName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.CityName</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <input type="hidden" id="hdnCity1" name="CityName" value="@Model.CityName" />
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class="control-label"> Address <span style="color:red"> *</span></label>
                                <textarea class="form-control" id="textAreaExample1" name="Address" rows="3" data-errormessage=" Please enter Address" readonly>@Model.Address</textarea>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">

                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class=" control-label"> Landmark</label>
                                <input type="text" id="txtLandmark" name="Landmark" value="@Model.Landmark" class="form-control" autocomplete="off" readonly />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">
                                <label class=" control-label"> Label of Amount</label>
                                <input type="text" id="txtLabelAmount" name="ServiceAmount" value="@Model.ServiceAmount" class="form-control" autocomplete="off" />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px;">

                                <label class=" control-label"> Invoice Type</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="InvoiceType" class="rdbService1" checked value="B2C">
                                    </span>
                                    <input type="text" class="form-control" value="B2C">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="InvoiceType" class="rdbService1" value="B2B">
                                    </span>
                                    <input type="text" class="form-control" value="B2B">

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-right: 10px; display:none" id="divGSTId1">
                                <label class="control-label"> Company GST Id <span style="color:red"> *</span></label>
                                <input type="text" id="txtGSTId" name="CompanyGSTId" class="form-control " data-errormessage=" Please enter Company GST Id" autocomplete="off" />
                            </div>


                        </div>

                        <div class="row" style="padding-top: 10px;">

                            @*<div class="col-md-3 col-xs-12" style="padding-right: 10px;">

                                <label class=" control-label"> SMS Pack</label>
                                <input type="hidden" id="hdnSMSGST" name="SMSGST" value="@Model.SMSGST" />
                                <input type="hidden" id="hdnSMSAmount" name="SMSAmount" value="@Model.SMSAmount" />
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="SMSPack" class="rdbSMS" checked value="No">
                                    </span>
                                    <input type="text" class="form-control" value="No">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="SMSPack" class="rdbSMS" value="Yes">
                                    </span>
                                    <input type="text" class="form-control" value="Yes">

                                </div>
                            </div>*@


                            <div class="col-md-3 col-xs-12" style="padding-top: 10px;">
                                <label class="control-label"> GST Amount <span style="color:red"> *</span></label>
                                <input type="hidden" id="hdnSMSGST" name="SMSGST" value="@Model.SMSGST" />
                                <input type="hidden" id="hdnSMSAmount" name="SMSAmount" value="@Model.SMSAmount" />
                                <input type="hidden"  name="SMSCount" value="@Model.SMSCount" />
                                <input type="text" id="txtGSTAmount" name="SalesGST" class="form-control " value="@Model.SalesGST" autocomplete="off" readonly />
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-top: 10px;">
                                <div>
                                    <label>Total Amount <span style="color:red"> *</span></label>
                                </div>
                                <div>
                                    <input type="text" name="TotalAmount" id="txtTotalAmount" value="@(Convert.ToInt32(Model.ServiceAmount)+Convert.ToInt32(@Model.SalesGST))" class="form-control " autocomplete="off" readonly />
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12" style="padding-top: 10px;">
                                <div>
                                    <label>Transaction Id <span style="color:red"> *</span></label>
                                </div>
                                <div>
                                    <input type="text" name="TransactionId" value="@Model.TransactionId" class="form-control errorMessage" data-errormessage=" Please enter TransactionId" autocomplete="off" />
                                </div>
                            </div>

                        </div>



                        @*<div class="row" style="padding-top: 10px;">


            <div class="col-md-4 col-xs-12" style="padding-right: 10px;">

                <label class=" control-label"> Service</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" name="ServiceType" class="rdbService" checked value="Half">
                    </span>
                    <input type="text" class="form-control" value="Half">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" name="ServiceType" class="rdbService" value="Full">
                    </span>
                    <input type="text" class="form-control" value="Full">

                </div>
            </div>

            <div class="col-md-4 col-xs-12" style="padding-right: 10px;">
                <label class="control-label"> Label of Amount <span style="color:red"> *</span></label>
                <input type="text" id="txtLabelAmount" name="ServiceAmount" value="@Model.ServiceAmount" class="form-control errorMessage2" autocomplete="off" data-errormessage=" Please enter Amount" />
            </div>

            <div class="col-md-4 col-xs-12" style="padding-top: 10px;">
                <div>
                    <label>Transaction Id <span style="color:red"> *</span></label>
                </div>
                <div>
                    <input type="text" name="TransactionId" class="form-control errorMessage2" value="@Model.TransactionId" autocomplete="off" data-errormessage=" Please enter TransactionId" />
                </div>
            </div>
            <div class="col-md-8 col-xs-12" style="padding-top: 10px;">
                <div>
                    <label>Paid via</label>
                </div>
                <div>
                    <input type="radio" class="rdbPaidVia" name="PaidType" value="Google Pay" checked />
                    <label>Google Pay</label>
                    <input type="radio" class="rdbPaidVia" name="PaidType" value="Phone Pay" />
                    <label>Phone Pay</label>
                    <input type="radio" class="rdbPaidVia" name="PaidType" value="Paytm" />
                    <label>Paytm</label>
                    <input type="radio" class="rdbPaidVia" name="PaidType" value="Others" />
                    <label>Others</label>
                </div>
            </div>
        </div>*@

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-5 col-xs-12" style="padding-top: 10px;">
                            <div>
                                <label>Paid via</label>
                            </div>
                            <div>
                                <input type="radio" class="rdbPaidVia" name="PaidType" value="Google Pay" checked />
                                <label>Google Pay</label>
                                <input type="radio" class="rdbPaidVia" name="PaidType" value="Phone Pay" />
                                <label>Phone Pay</label>
                                <input type="radio" class="rdbPaidVia" name="PaidType" value="Paytm" />
                                <label>Paytm</label>
                                <input type="radio" class="rdbPaidVia" name="PaidType" value="Others" />
                                <label>Others</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12" style="padding-top: 10px; display:none" id="divOthers1">
                            <div>
                                <label>Specifie Mode<span style="color:red"> *</span></label>
                            </div>
                            <div>
                                <input type="text" id="txtOtherType1" name="OtherType" class="form-control" value="@Model.OtherType" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <input type="button" id="btnEditRenwal" value="Submit" class="btn btn-primary" />
    <input type="button" value="Close" class="btn btn-danger" data-dismiss="modal" />

</div>

<script>
     $("#txtLabelAmount").keyup(function () {
        debugger;
        var total = 0; var smsgst = 0;
        @*if ($('input:radio[name=SMSPack]:checked').val() == "Yes") {
            var value1 = @smsCharges;
             smsgst = parseFloat(value1) * 18 / 100;
             total = parseFloat(value1) + parseFloat(smsgst);
        }*@

        var value = $(this).val();
        var gst = parseFloat(value) * 18 / 100;
        $("#txtGSTAmount").val(gst + smsgst);
         total = parseFloat(value) + parseFloat(gst) + parseFloat(total);
        $("#txtTotalAmount").val(parseFloat(total));
    });



    $(".rdbService1").click(function () {

        if ($('input:radio[name=InvoiceType]:checked').val() == "B2B") {
            $('#divGSTId1').show();
        }
        else {
            $('#divGSTId1').hide();
        }
    });


     $(".rdbSMS").click(function () {
        var amount = $("#txtTotalAmount").val();
        var gst = $("#txtGSTAmount").val();
        if (amount == null || amount == "" || amount == 'undefined') {
            amount = 0;
            gst = 0;
        }
        @*if ($('input:radio[name=SMSPack]:checked').val() == "Yes") {
            //var value = @smsCharges;
          //  var smsgst = parseFloat(value) * 18 / 100;
            var total = parseFloat(value) + parseFloat(amount) + parseFloat(smsgst);
            $("#txtTotalAmount").val(parseFloat(total));
            $("#txtGSTAmount").val(parseFloat(gst) + parseFloat(smsgst));
            $("#hdnSMSGST").val(parseFloat(smsgst));
            $("#hdnSMSAmount").val(parseFloat(value));


        }
        else {
            var value = @smsCharges;
            var smsgst = parseFloat(value) * 18 / 100;
            var total = parseFloat(amount) - parseFloat(value) - parseFloat(smsgst);
            $("#txtTotalAmount").val(total);
            $("#txtGSTAmount").val(parseFloat(gst) - parseFloat(smsgst));
            $("#hdnSMSGST").val('');
            $("#hdnSMSAmount").val('');
        }*@
    });

</script>


<script>
    $(".rdbPaidVia").click(function () {
        debugger;
        if ($('#frmEditSalesRenewal input:radio[name=PaidType]:checked').val() == "Others") {
            $('#divOthers1').show();

        }
        else {
            $('#divOthers1').hide();
        }
    });

     $(document).ready(function () {
        debugger;
        $('input[name="PaidType"][value="' + "@Model.PaidType" + '"]').prop('checked', true);
         $('input[name="ServiceType"][value="' + "@Model.ServiceType" + '"]').prop('checked', true);

         $('input[name="InvoiceType"][value="' + "@Model.InvoiceType" + '"]').prop('checked', true);
         $('input[name="SMSPack"][value="' + "@Model.SMSPack" + '"]').prop('checked', true);

         if ($('#frmEditSalesRenewal input:radio[name=PaidType]:checked').val() == "Others") {
            $('#divOthers1').show();
        }
        else {
            $('#divOthers1').hide();
         }
         if ($('#frmEditSalesRenewal input:radio[name=InvoiceType]:checked').val() == "B2B") {
             $('#divGSTId').show();
         }
         else {
             $('#divGSTId').hide();
         }
     });

    $("#btnEditRenwal").click(function () {
        debugger;
        var isValueEmpty = false; var errorMessage = "";
        var employees = "";
        $("#frmEditSalesRenewal .errorMessage2").each(function () {
            if ($(this).val() == null || $(this).val().trim() == "") {
                isValueEmpty = true;
                errorMessage = $(this).attr("data-errormessage");
                return false;
            }
        });

        if (isValueEmpty == true) {
            Alert(errorMessage);
            return false;
        }
        debugger;

        if ($('#frmEditSalesRenewal input:radio[name=PaidType]:checked').val() == "Others") {
            if ($("#txtOtherType1").val() == null || $("#txtOtherType1").val().trim() == "") {
                Alert("Please enter Type of Payment");
                return false;
            }

        }
        $("#frmEditSalesRenewal").submit();
    });


</script>